httpx
pydantic[email]
python-dotenv
pandas
openai
anthropic
tiktoken

faiss-cpu
chromadb
sentence-transformers
langchain
langchain-community
langchain-openai
pypdf
ragas
rank-bm25

langchain-core
duckduckgo-search

langgraph

fastapi
uvicorn
websockets
streamlit
langfuse